<div class='ui container grid'>
    <div class='six wide column'>
        <%= image_tag "logo.png", class:'ui fluid image' %>
    </div>
    <div class='ten wide middle aligned column'>
        <h1 class="header ubuntu slogan">PLAY FUN</h1>
        <h1 class="header montserrat slogan">THINK FUN</h1>
    </div>
</div>