<div class="ui centered container grid">
  <div class="sixteen wide mobile ten wide computer column">
    <%= render partial: "feed", locals:{posts: [@post], feeling:false}%>
  </div>
</div>
<div class="ui sixteen wide column centered container grid">
  <div class='eight wide computer fourteen wide mobile column centered grid'>
    <%= render :partial => "reply", locals:{post: @post}%>
    <% content_for(:title, "#{@post.content&.truncate(20)} - boardgame.cf") %>
  </div>
</div>