.activity-image{
    margin-right: 5px !important;
}
.activity-meta{
    font-size:0.83rem;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    color: #95a5a6;
}