@import "simplemde.min";
@import 'semantic-ui';

.montserrat{
    font-family: 'Montserrat', sans-serif;
    color: #bdc3c7;
}
.ubuntu{
    font-family: 'Ubuntu', sans-serif;
}

.slogan{
    font-size: 4.3rem;
    user-select: none;
}