<p>Xin chào <%= @resource.name %>!</p>

<p>Chúng tôi nhận được một đề nghị thay đổi mật khẩu. Bạn có thể tiếp tục bằng cách nhấn vào đường link dưới đây</p>

<p><%= link_to 'Đổi mật khẩu của tôi', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Nếu bạn không yêu cầu đổi mật khẩu, vui lòng bỏ qua email này.</p>
<p>Mật khẩu của bạn sẽ không thay đổi trừ khi bạn nhấn vào link trên và tạo một mật khẩu mới.</p>
